.bg-app{
    background-color: #c7fcde;
}
.card{
    margin: 5px 0px;
}
.m-plus{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.navbar{
    z-index:10000;
}
.offcanvas-header{
    margin-top:14%
}
.offcanvas{
    --bs-offcanvas-width: 300px;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
    #posts-content{
        margin-left:5%;
    }
}
[class^="bi-"]::before, [class*=" bi-"]::before {
    line-height: 1.2;
}
.translate-middle {
    transform: translate(-15%, -12%) !important;
}
.translate-middle-connect {
    transform: translate(-50%, 0%) !important;
}

/* app/assets/stylesheets/application.css */

/* Style général */
body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Liens */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Boutons */
  .button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #ff7171;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  